*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

}

body{
    font-family: Arial, Helvetica, sans-serif;


}
.container{
    display: flex;
    padding: 20px 70px;

}
.current-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.date-container .Time{
    font-size: 65px ;
    font-weight: 100;
}
.date-container #am-pm{
    font-size: 37px;
    margin-left: 22px;

}
.date-container .date{
    font-size: 24px;
}
.place-container{
    text-align: right;
}
.current-info .add-ons{
    display: flex;
    flex-direction:column;
    background:burlywood;
    padding: 22px;
    border-radius: 10px;
    margin: 12px 0;
    border: 2px solid lightblue;
}
.container-info .add-ons .weather-items{
    display: flex;
    justify-content: space-evenly;
    background: burlywood;
}
.This-Weeks-forecast{
    padding: 34px;
    position:fixed;
    bottom: 0;
    display: flex;
    color:black;
    width: 100%;
    align-items: center;
    justify-content: center;
    background:burlywood;
}

.This-Weeks-forecast .weather-items{
    
}